header {
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  .header__logo {
    img {
      display: block;
      width: 35px;
      height: 35px;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 25px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      .image_box {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: white;
      }
    }
    i {
      font-size: 16px;
    }
    .header__btn {
      background-color: white;
      color: $bg;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}
