doctype html 
html(lang="ko")
    head    
        title #{pageTitle} | WebTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body    
        header
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/videos/upload") #{pageTitle==="Home" ? "Upload Video" : ""} 
                    li 
                        a(href="/") #{pageTitle!="Home" ? "Home" : ""} 
        main
            block content
        include partials/footer.pug