extends base.pug

block content   
    form(method="POST")
        input(type="text", name="title", placeholder="Title", required, maxlenght=100)
        input(type="text", name="description", placeholder="Description", required, maxlenght=100)
        input(type="text", name="hashtags", placeholder="Hashtags, separated by comma.", )
        input(type="submit", value="Upload Video", required)
