header
    a(href="/").header__logo
        img(src="/img/WeTube-icon.png",)
    nav 
        ul 
            li 
                a(href="/search")
                    i.fas.fa-search 
            if !loggedIn
                li 
                    a(href="/login") Log in
                li 
                    a(href="/join").header__btn Join
                
            else 
                li  
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a(href="/users/logout") Log out 
                li 
                    a(href=`/users/${loggendInUser._id}`)
                        div.image_box
                            img.avatar(src=loggendInUser.avatarUrl crossorigin)